/*
 * Process for problem solving
 *
 * Clarify the problem:
 *
 * Define the Problem:
 *
 * Constraints:
 *
 * Inputs:
 *
 * Outputs:
 *
 * Edge Cases:
 *
 * Come up with a solution in pseudocode
 *
 * Solve the problem
 *
 * Analyze Performance
 *
 * Refactor to Optimal Solution
*/

